<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developers
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">Team Members <span class="caret"></span> </a>
        <ul class="dropdown-menu">

          <li><a href="/about/DerickMcCrary">Derick McCrary</a></li>
          <li><a href="/about/bogarajula">Santosh Sekhar Muchkur Bogarajula</a></li>
          <li><a href="/about/Yanala">Srimai Reddy Yanala</a></li>
        </ul>
      </li>
  </ul>
</li>