</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2018</p>
    <p class="text-muted"><a href="https://bitbucket.org/Daemon1307/project-16">Repository</a></p>
  </div>
</footer>