<div class="container-fluid">
  <div class=row>
    <!-- .gif file referenced from google search -->
    <div style="background-image: url(http://78.media.tumblr.com/89fa1deedb55ae248a62ca65b884d8a9/tumblr_mvl9lgZUNF1spl3lco1_500.gif);
    background-repeat:no-repeat;  background-size:1500px 200px">
      <h1>AIRWAYS!</h1> <br>
      <!-- <br/>
      <h2>Use this area to display information. </h2>
      <br/> --> </br> <br>
      <br/>  <br>
      <br/>
      
      <!-- <h3>During development, test your api here.</h3> -->
  </div>
      <br/>
      <br/>

      <div class="col col-md-3">
      <h4>GET a Flight view</h4> 
      <ol>
        <li >
          <a href="https://airways.herokuapp.com/flight">Flights index page</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/flight/create">Create Flight</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/flight/edit/1">Edit Flight 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/flight/edit/2">Edit Flight 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/flight/edit/3">Edit Flight 3</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/flight/edit/4">Edit Flight 4</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/flight/delete/1">Delete Flight 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/flight/delete/2">Delete Flight 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/flight/delete/3">Delete Flight 3</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/flight/delete/4">Delete Flight 4</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/flight/details/1">Details of Flight 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/flight/details/2">Details of Flight 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/flight/details/3">Details of Flight 3</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/flight/details/4">Details of Flight 4</a>
        </li>
        

      </ol>
      <br/>
      <h4>GET  Flight JSON</h4>
      <ol>

        <li>
          <a href="https://bitbucket.org/Daemon1307/project-16/raw/master/data/flights.json">All Flights JSON</a>
        </li>
        <!-- <li>
          <a href="http://localhost:8089/flight/findone/1">http://localhost:8089/flight/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/flight/findone/2">http://localhost:8089/flight/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/flight/findone/3">http://localhost:8089/flight/findone/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/flight/findone/4">http://localhost:8089/flight/findone/4</a>
        </li> -->

      </ol>
      </div>

<span class="col col-md-3">
      <h4>GET  Pilot view</h4>
      <ol>
        <li>
          <a href="https://airways.herokuapp.com/pilot">Pilot index page</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/pilot/create">Create Pilot</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/pilot/edit/1">Edit Pilot 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/pilot/edit/2">Edit Pilot 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/pilot/edit/3">Edit Pilot 3</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/pilot/edit/4">Edit Pilot 4</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/pilot/delete/1">Delete Pilot 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/pilot/delete/2">Delete Pilot 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/pilot/delete/3">Delete Pilot 3</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/pilot/delete/4">Delete Pilot 4</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/pilot/details/1">Details of Pilot 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/pilot/details/2">Details of Pilot 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/pilot/details/3">Details of Pilot 3</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/pilot/details/4">Details of Pilot 4</a>
        </li>

      </ol>
      <br/>
      <h4>GET Pilot JSON</h4>
      <ol>

        <li>
          <a href="https://bitbucket.org/Daemon1307/project-16/raw/27d3a59a0f4eb3f6446b34d79abf3caf93a335c1/data/pilots.json">All Pilots JSON</a>
        </li>
        <!-- <li>
          <a href="http://www.json-generator.com/api/json/get/bISeRwOWeW?indent=4">Pilot 1 JSON</a>
        </li>
        <li>
          <a href="http://www.json-generator.com/api/json/get/cqtMhEBRki?indent=4">Pilot 2 JSON</a>
        </li>
        <li>
          <a href="http://www.json-generator.com/api/json/get/bVcGXPIZCG?indent=4">Pilot 3 JSON</a>
        </li>
        <li>
          <a href="http://www.json-generator.com/api/json/get/ckyTzsqunC?indent=4">Pilot 4 JSON</a>
        </li> -->

      </ol>
    
</span>
      <span class="col col-md-3">
      <h4>GET  Plane view</h4>
      <ol>
        <li>
          <a href="https://airways.herokuapp.com/plane">Planes index page</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/create">Create new Plane</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/plane/edit/1">Edit Plane 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/edit/2">Edit Plane 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/edit/3">Edit Plane 3</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/edit/4">Edit Plane 4</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/plane/delete/1">Delete Plane 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/delete/2">Delete Plane 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/delete/3">Delete Plane 3</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/delete/4">Delete Plane 4</a>
        </li>

        <li>
          <a href="https://airways.herokuapp.com/plane/details/1">Details of Plane 1</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/details/2">Details of Plane 2</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/details/3">Details of Plane 3</a>
        </li>
        <li>
          <a href="https://airways.herokuapp.com/plane/details/4">Details of Plane 4</a>
        </li>

      </ol>
      <br/>
      <h4>GET Plane JSON</h4>
      <ol>

        <li>
          <a href="https://bitbucket.org/Daemon1307/project-16/raw/master/data/planes.json">All Pilots JSON</a>
        </li>
        <!-- <li>
          <a href="http://localhost:8089/plane/findone/1">http://localhost:8089/plane/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/findone/2">http://localhost:8089/plane/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/findone/3">http://localhost:8089/plane/findone/3</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/findone/4">http://localhost:8089/plane/findone/4</a>
        </li> -->

      </ol>
      </span>
    
  </div>
</div>

