<br/>
<br/>
<h2>Pilot Details</h2>
<br/>
<br/> 
ID:
<%=  pilot._id %>
  <br> 
  Last Name:
  <%=pilot.lastName%>
    <br/> 
    <br>First Name:
    <%=pilot.firstName%>
      <br/> 
      <br>
      Flying time (hours):
      <%=pilot.hoursFlown%>
        <br/>
        <br>
      Is on Duty? :
      <%=pilot.isCurrent%>
                  <br/>
                  <br/>
          </div>
          
            <br/>
            <br/>
            <form method="get" action="/pilot">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>