<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <a href="flight/create" class="btn btn-primary new">
        Create a New Flight
      </a>
    </br>
      <h2>Recent flight entries</h2>
      <p>There are
       <strong> <%= flights.query.length %></strong> flights. 
      </p>
      <br>
 
    
          <table> 
          
          <tr> 
            <th>ID</th> <th>&emsp;NAME</th> <th>&emsp;Starting Point</th>  
            <th>&emsp;Ending Point</th><th>&emsp;Starting Time</th>
            <th>&emsp;Duration Hours</th><th>&emsp;Passengers</th>
            <th>&emsp;Pilot ID</th><th>&emsp;Plane ID</th>
          </tr>
         
          <td><br></td>
          
     
      <% for (var i = 0; i <= flights.query.length-1; i++) {  
        flight = flights.query[i];  %>
        
  
<tr>

<th><%=flight._id %></th>

<th>&emsp;<%=flight.name%></th>
    
<th>&emsp;<%=flight.startingPoint%></th>  
<th>&emsp;<%=flight.endingPoint%></th><th>&emsp;<%=flight.startingTime%></th>
<th>&emsp;<%=flight.durationHours%></th><th>&emsp;<%=flight.numPassengers%></th>
<th>&emsp;<%=flight.pilotId%></th><th>&emsp;<%=flight.planeId%></th>

      
                        
    
                         <th>&emsp;<a href="/flight/details/<%= flight._id %>" class="btn btn-info"> Full Details </a></th>
                         <th>&emsp;<a href="/flight/edit/<%= flight._id %>" class="btn btn-warning"> Edit </a></th>
                         <th>&emsp;<a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger"> Delete </a></th> 
 
                         
</tr>
     
<td><br></td>
  <% } %>
          </table>
          
        </div>
    </div>
  </div>
</div>
