
<title>Derick McCrary</title>
<div class="jumbotron" style=" background-color:#ccc; width: auto">
    <div class="container">
        <div style="text-align:center; margin-top: 60px;">
         <div >
          <div class="myName" style="font-size:50px;">Derick McCrary</div>
           <img src="https://imgur.com/IeuHQLJ.jpg" style="margin-bottom: 30px">
         </div>
      <p><a href="https://www.linkedin.com/in/derick-mccrary-37ab01128/" class="btn btn-primary btn-lg" role="button">Linkedin &raquo;</a>
        <span><a href="https://bitbucket.org/Daemon1307/" class="btn btn-primary btn-lg" role="button">BitBucket &raquo;</a></span>
      </p>
    </div>
  </div>
  <body>
    <article>
      <section class="section-h2">
        <h2>Current</h2>
        <p>I am currently attending Northwest as a Senior
          <br>in the Computer Science program. I am graduating a semester early, as I arrived with a semester's worth of credits.
          </p>
      </section>
      <section class="section-h2">
        <h2 id="past-section">Background</h2>
        <p>I am from Kansas City Missouri, although I have lived in many states. I have worked at many establishments both as
          a software engineer and a standard position that does not require schooling.</p>
      </section>
      <section class="section-h2">
        <h2 id="future-section">Plans</h2>
        <p>My future plans include finishing my bachelors, and then beginning work in medical technology. Should I find myself
          with the desire for a harder challenge, I will pursue the necessary steps to join a research team for Quantum Computing.</p>
      </section>
    </article>
    <aside class="aside-h2">
      <h2>Hobbies</h2>
      <p>For hobbies, I enjoy playing my guitars. I have both an acoustic and an electric. I work the night shift at a store
        in town, which leads me to an unconventional schedule. Other hobbies I indulge in are video games, dungeons and dragons,
        and spending time with friends.</p>
    </aside>

    
    <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>

  </body>
</div>

