<div class="jumbotron" style=" background-color:rgb(255, 153, 139); width: auto">
    <div class="container">
        <div style="text-align:center; margin-top: 60px;">
         <div >
           <img style="border-radius: 25px;size:150px 200px" src="" >
         </div> 
        <div class="myName" style="font-size:50px;">Sri</div>
        <h4><b>About Me</b></h4>
     
            <p>I am currently doing my Masters in Applied Computer Science at Northwest Missouri State University,Spring 2018.</p>
         
      
            <h4><b>Background </h4></b>
            <p>I m from Hyderabad,India.I have completed my under graduation in Computer Science and Engineering </p>
          
           
            <h4><b>Plans </b> </h4>
            <p>Always been fascinated towards many aspects of computer technologies and I would like to see myself as a programmer in reputed companies. </p>
          
            
      <p><a href="https://www.linkedin.com/in/" class="btn btn-primary btn-lg" role="button">Linkedin &raquo;</a>
        <span><a href="https://bitbucket.org/SrimaiReddy/" class="btn btn-primary btn-lg" role="button">BitBucket &raquo;</a></span>
        
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <!-- referred w3schools.com to learn how to post a video on webpage -->
        
       
      </div>

  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <!-- referred w3schools.com to learn how to post a video on webpage -->
          <h2>Northwest </h2>
          <iframe src="https://www.youtube.com/embed/1M_-IDT0LtY"></iframe>
         
        </div>


        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <!-- referred w3schools.com to learn how to post a video on webpage -->
            
               
              </div>
       