<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h1>Pilot Flying Time Statistics</h1>
    </div>
    
    <%
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    pilot = pilots.query[pilots.query.length-1];
    min = pilot.hoursFlown;
    max = pilot.hoursFlown;
    for (var i = pilots.query.length-1; i >= 0; i--) {   
        pilot = pilots.query[i];
        if(pilot.hoursFlown < min){
            min = pilot.hoursFlown;
        }
        if(max <= pilot.hoursFlown){
            max = pilot.hoursFlown;
        }
        sum += pilot.hoursFlown;       
    } 
    avg = sum/pilots.query.length;
    
    %>
        <div>
            <table class="table table-dark">
                <tr>
                    <th scope="row">Mean</th>
                    <td>   &ensp;&ensp;&ensp;&ensp;<%= avg %> </td>
                </tr>
                <tr>
                    <th scope="row">Maximum</th>
                    <td>   &ensp;&ensp;&ensp;&ensp;<%= max %> </td>
                </tr>
                <tr>
                    <th scope="row">Minimum</th>
                    <td>  &ensp;&ensp; &ensp;<%= min %> </td>
                </tr>
            </table>
        </div>

</div>
</div>
</div>