<br/>
<br/>
<h2>Plane Details</h2>
<br/>
<br/> ID:
<%=  plane._id %>
  <br> TailNumber:
  <%=plane.tailNumber%>
    <br/> NumSeats:
    <%=plane.numSeats%>
      <br/> FuelCapacity:
      <%=plane.fuelCapacity%>
        <br/>
        <br/>
       
        
            <br/>
            <br/>
            <form method="get" action="/plane">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>