

<div class="jumbotron" style=" background-color:#ccc; width: auto">
    <div class="container">
        <div style="text-align:center; margin-top: 60px;">
         <div >
           <img style="border-radius: 25px;size:150px 200px" src="https://imgur.com/wCb3uG3.jpg" >
         </div> 
        <div class="myName" style="font-size:50px;">Santosh Sekhar Muchkur Bogarajula</div>
      <h3>Hello, world!</h3>
      <p>I am a technology enthusiast very much interested in learning new things!!!</p>
      <p>Check out my respective profiles by clicking the buttons below.</p>
      <p><a href="https://www.linkedin.com/in/santosh-sekhar-m-b-43a22783" class="btn btn-primary btn-lg" role="button">Linkedin &raquo;</a>
        <span><a href="https://bitbucket.org/santoshsekhar/" class="btn btn-primary btn-lg" role="button">BitBucket &raquo;</a></span>
        <span><a href="https://www.facebook.com/santosh.sekhar.9/profile" class="btn btn-primary btn-lg" role="button">Facebook &raquo;</a></span>
      </p>
    </div>
  </div>

  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <!-- referred w3schools.com to learn how to post a video on webpage -->
          <h2>Northwest - Welcome Students</h2>
          <iframe src="https://www.youtube.com/embed/wxQR5kokq68"></iframe>
          <p>Bearcat Video 1 </p>
          <p><a class="btn btn-default" href="https://www.youtube.com/embed/wxQR5kokq68" role="button">View &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Bearcats - Campus Tour</h2>
          <iframe src="https://www.youtube.com/embed/2OcbJkQY-SA"></iframe>

          
          <p>Bearcat Video 2</p>
          <p><a class="btn btn-default" href="https://www.youtube.com/embed/2OcbJkQY-SA" role="button">View &raquo;</a></p>
       </div>
       
      </div>
